{% extends "bigbox/base.html" %}

{% block content %}

    <div class="list-group">

        {% for object in object_list %}

            <a href="{% url 'activity-detail' object.pk %}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ object.name }}</h5>
                </div>
            </a>

        {% endfor %}

    </div>

    <div class="mt-2">
        <nav class="nav justify-content-center">
            <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                </li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
            {% endif %}
            </ul>
        </nav>
            <p>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</p> 
    </div>

    

    
{% endblock content %}
