{% extends "bigbox/base.html" %}

{% block content %}

    <div class="list-group">

        <h1>{{ object.name }}</h1>
        <p>{{ object.description|striptags }}</p>

        <section>
            <h4>Categoria</h4>
            {{ object.category.name}}
        </section>

        <section>
            <h4>Razones</h4>
                    <ul class="list-group list-group-flush">
                        {% for reason in object.reasons.all %}

                            <li class="list-group-item">{{ reason.name }}</li>
                        {% endfor %}
                    </ul>
        </section>

        <section class="mt-2">
            <h4>Informacion adicional</h4>
            <p>
                {% if object.purchase_available %}
                    Venta individual disponibles
                {% else %}
                    Venta individual no disponible
                {% endif %}
            </p>
        </section>


    </div>
    
{% endblock content %}
